.gbutton {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 5px 10px;
    border-radius: 4px;
    border-color: transparent;
    background-color: white;
    position: relative;
  }
  
  .gbuttonText {
    color: #999999;
    font-weight: bolder;
  }
  
  .gicon {
    height: 20px;
    width: 20px;
    margin-right: 5px;
  }