body {
  background-color: #f7f7f7;
}
.messageSender {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
  width: 100%;
}

.messageSender_top {
  display: flex;
  border-bottom: 1px solid #eff2f5;
  padding: 15px;
  align-items: center;
}

.button {
  background-color: #3aafa9;
  color: white;
  margin: 0 10px;
}

.buttons {
  margin-left: auto;
}

.posts {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.widget {
  margin: 10px;
  justify-content: center;
}

.searchbar {
  margin: 0 20px;
}
.showMoreBtn {
  color: white !important;
  background: #3aafa9 !important;
}