.icons {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}
.icons a {
  color: white;
}

footer {
  background-color: #3aafa9;
  color: white;
}

footer .links {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: center;
}

footer .links li {
  margin: 10px;
}

.logo {
  text-align: center;
}

.icon {
  padding: 0 10px;
}

.iconsrow {
  align-self: center;
  text-align: center;
  justify-content: center;
}
